.pai{
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
.filho{
    background-color: darkgray;
    height: 150px;
    width: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
}
